.container__main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(1, min-content);
    box-sizing: border-box;
    margin: auto;
    flex-grow: 1;
    max-width: 1000px;
    min-height: 92dvh;
    background-color: #fff;
    h2{
        font-family: "title";
        font-size: 2.5rem;
        margin: 30px auto;
        grid-column: 1 /span 2;
    }
}

// ----------- CART CONTAINER ------------------

.cart__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    place-items: center;
}

.cart__item{
    max-width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "subtitle";
    border-radius: 10px;
    background-color: #ddd;
    padding: 10px 20px;
    img{
        width: 80px;
    }
    .cart__item__details{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .cart__item__quantity{
        margin: 6px 0;
    }
    .cart__item__delete{
        margin: 20px;
        margin-left: 100px;
        button{
            border: none;
            border-radius: 10px;
            background-color: #f33;
            color: #fff;
            padding: 5px 8px;
        }
        :hover{
            opacity: .74;
        }
    }
}

// ----------- SUMMARY CONTAINER ------------------
.summary{
    max-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 25px;
    background-color: #eee;
    border-radius: 10px;
    position: sticky;
    top: 0;
    .summary__title{
        font-family: "subtitle";
        font-size: 1.2rem;
        border-bottom: 1px solid #000;
    }
    .summary__total{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 1.3rem;
        font-family: "text";
    }
    .summary__buttons{
        display: flex;
        gap: 30px;
        :hover{
            opacity: .74;
        }
        button{
            font-family: "text";
            padding: 10px 13px;
            border-radius: 7px;
        }
        :first-child{
            border: none;
            color: #fff;
            background-color: rgb(145, 0, 0);
        }
        :nth-child(2){
            border: none;
            color: #fff;
            background-color: rgb(12, 165, 12);
        }
    }
}