.container__main__aboutUs{
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #fff;
}




.container__aboutus{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-family: "title";
        font-size: 2.5rem;
        margin: 30px;
    }
    .aboutUs__subtitle{
        font-family: "subtitle";
    }
    .aboutUs__p{
        font-family: "text";
        font-size: 1.3rem;
        max-width: 800px;
    }
}

