.container__aboutus{
    box-sizing: border-box;
    margin: auto;
    flex-grow: 1;
    max-width: 1000px;
    min-height: 92dvh;
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-family: "title";
        font-size: 2.5rem;
        margin: 30px;
    }
    .aboutUs__subtitle{
        font-family: "subtitle";
    }
    .aboutUs__p{
        font-family: "text";
        font-size: 1.3rem;
        max-width: 800px;
    }
}

